<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.dao.InvitationMapper">
    <insert id="saveInvitation">
        INSERT INTO T_INVITATION(I_TOURISTID, I_TIME, I_ADDRESS, I_STATE) VALUES(#{i_touristid},#{i_time},#{i_address},#{i_state})
    </insert>
    <delete id="deleteInvitationById">
        DELETE FROM T_INVITATION WHERE I_TOURISTID=#{i_touristid}
    </delete>
    <select id="selectByTouristId" resultType="com.test.model.Invitation">
        SELECT * FROM T_INVITATION WHERE I_TOURISTID=#{i_touristid}
    </select>
</mapper>