<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.TouristMapper">
    <insert id="saveTourist">
        INSERT INTO T_TOURIST(T_NAME, T_PASS) VALUES (#{t_name},#{t_pass})
    </insert>

    <select id="selectByName" resultType="com.test.model.Tourist">
        SELECT * FROM T_TOURIST WHERE T_NAME=#{t_name}
    </select>
    <select id="selectByNameAndPass" resultType="com.test.model.Tourist">
        SELECT * FROM T_TOURIST WHERE T_NAME=#{t_name} and T_PASS=#{t_pass}
    </select>
</mapper>